# Gradle
.gradle/

# Extra dependencies (database drivers)
bin/

# Dropwizard
build/
logs/
configuration.yaml

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
out/

# Mac OS X
.DS_Store

# Build Properties
build.properties

# Keytool Files
*.pem
*.cer
*.keystore
*.truststore

# VS Code Workspace Settings
.vscode

# Pycache Files
__pycache__

# Integration tests configuration
**/configuration.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
